﻿@charset "utf-8";
html {
    overflow-y: scroll;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

.area_responsive_01 {
    position: absolute;
    left: 49.9427%;
    top: 0px;
}

.area_responsive_02 {
    position: absolute;
    left: 49.9427%;
    top: 230px;
}

.area_responsive_03 {
    position: absolute;
    left: 74.9622%;
    top: 230px;
}

.area_responsive_04 {
    position: absolute;
    left: 0%;
    top: 460px;
}

.area_responsive_05 {
    position: absolute;
    left: 24.9233%;
    top: 460px;
}

.area_responsive_06 {
    position: absolute;
    left: 49.9427%;
    top: 460px;
}

.area_responsive_07 {
    position: absolute;
    left: 74.9622%;
    top: 460px;
}

.rps_experience_01 {
    position: absolute;
    left: 0%;
    top: 0px;
}

.rps_experience_02 {
    position: absolute;
    left: 49.9427%;
    top: 0px;
}

.rps_experience_03 {
    position: absolute;
    left: 0%;
    top: 230px;
}

.rps_experience_04 {
    position: absolute;
    left: 24.9233%;
    top: 230px;
}

.rps_experience_05 {
    position: absolute;
    left: 49.9427%;
    top: 230px;
}

.rps_experience_06 {
    position: absolute;
    left: 0%;
    top: 460px;
}

.rps_experience_07 {
    position: absolute;
    left: 24.9233%;
    top: 460px;
}


/*------------------------------------------
.article index
--------------------------------------------*/

article .what_news {
    background: url(../img/bg_title.jpg) repeat-x top left;
    position: relative;
    z-index: 2;
    margin: -45px 50px 50px 50px;
    border-top: 3px solid #f40824;
    border-bottom: 3px solid #000;
}

article .what_news>h1 {
    color: #fff;
    font-family: 'sansationbold';
    padding: 30px 0px;
    font-weight: bold;
    font-size: 250%;
    text-align: center;
}

article .menu_04 {
    display: block;
    margin: 0 auto;
    margin: 0 50px 30px;
    background: #000;
}

article .menu_04 ul {
    overflow: hidden;
    display: table;
    margin: 0 auto;
    background: #000;
}

article .menu_04 ul>li {
    float: left;
    padding: 10px 25px;
}

article .menu_04 ul>li>a {
    color: #fff;
    font-weight: bold;
}

article .menu_04 ul>li>a:hover,
article .menu_04 ul>li>a.active {
    color: #ff8200;
    text-decoration: none;
}

.product {
    height: 460px;
    margin: 0 -10px;
    background: cadetblue;
}

.hvr-sweep-to-top {
    height: 460px;
    background: transparent;
    color: transparent;
    position: relative;
    z-index: 1;
    top: -20px;
    width: 100%;
}

.text_product:hover {
    background: #000;
    color: #fff;
}

.product_01 {
    height: 225px;
    margin: 10px -10px;
    background: cadetblue;
}

.product_02 {
    height: 225px;
    background: darkred;
    margin: 0 -10px;
}

.packages-banner .flex-control-nav {
    position: relative;
    top: 190px;
    z-index: 10;
    left: 50%;
}

.packages-banner .flex-control-nav li {
    margin: 0px 10px 10px 0px;
    float: left;
}

.packages-banner .slides>li .package {
    padding: 40px 165px 0 0px;
    height: 230px;
    display: block;
    color: #ffffff;
    margin-left: 0;
}

.packages-banner .flex-control-nav li a {
    width: 10px;
    height: 10px;
    background: #025a7d;
    text-indent: 9999px;
    border-radius: 10px;
    padding: 0 4px;
}

.packages-banner .flex-control-nav li a.flex-active {
    background: #fff;
    color: #000;
}


/*  logo
----------------------------------------*/

.list_logo li {
    float: left;
}


/*hover_immg
-----------------------------------------*/

#hover {
    color: rgba(188, 175, 204, 0.9);
}

h2#testimonials {
    color: rgb(94, 244, 177);
}

div#all {
    width: 100%;
    height: 100%;
}


/* generic css */

section .view {
    float: left;
    border: 5px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    width: 100%;
    cursor: default;
    margin: 0 0 10px 0;
}

section .view .mask,
section .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 0 5%;
}

section .view img {
    display: block;
    position: relative
}

section .view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-family: Raleway, serif;
    padding: 10px;
    /*background: rgba(0, 0, 0, 0.8);*/
    margin: 20px 0 0 0
}

section .view p {
    font-family: Merriweather, serif;
    font-style: italic;
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center
}

section .view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #ccc;
    color: #445393;
    font-family: Raleway, serif;
    text-transform: uppercase;
    box-shadow: 0 0 1px #ccc;
    margin-top: 10px
}

section .view a.info:hover {
    box-shadow: 0 0 5px #000
}


/*1*/

section .view-first img {
    /*1*/
    transition: all 0.2s linear;
    width: 300px;
    height: 200px;
}

section .view-first .mask {
    opacity: 0;
    background-color: rgba(58, 1, 132, 0.44);
    transition: all 0.4s ease-in-out;
}

section .view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    font-family: Raleway, serif;
    transition: all 0.2s ease-in-out;
}

section .view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}

section .view-first a.info {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}


/* */

section .view-first:hover img {
    transform: scale(1.1);
}

section .view-first:hover .mask {
    opacity: 1;
}

section .view-first:hover h2,
section .view-first:hover p,
section .view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}

section .view-first:hover p {
    transition-delay: 0.1s;
}

section .view-first:hover a.info {
    transition-delay: 0.2s;
}


/*2*/

section .view-second img {
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
}

section .view-second .mask {
    background-color: rgba(12, 19, 27, 0.6);
    width: 300px;
    padding: 105px;
    height: 200px;
    opacity: 0;
    transform: translate(265px, 145px) rotate(45deg);
    -webkit-transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

section .view-second h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-family: Raleway, serif;
    background: transparent;
    margin: 20px 40px 0px 40px;
    -webkit-transform: translate(200px, -200px);
    transform: translate(200px, -200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

section .view-second p {
    transform: translate(-200px, 200px);
    -webkit-transform: translate(200px, -200px);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

section .view-second a.info {
    transform: translate(0px, 100px);
    -webkit-transform: translate(0px, 100px);
    transition: all 0.2s 0.1s ease-in-out;
    -webkit-transition: all 0.2s 0.1s ease-in-out;
}


/* */

section .view-second:hover .mask {
    opacity: 1;
    transform: translate(-80px, -125px) rotate(45deg);
    -webkit-transform: translate(-80px, -125px) rotate(45deg);
}

section .view-second:hover h2 {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
}

section .view-second:hover p {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s;
}

section .view-second:hover a.info {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
}


/*3*/

section .home_page .view-tenth img {
    transform: scaleY(1);
    /*transition: all .7s ease-in-out;*/
}

.home_page .view-tenth .mask {
    background-color: #6473af;
    /*transition: all 0.5s linear;*/
    opacity: 0;
}

section .home_page .view-tenth h2 {
    border-bottom: 1px solid #ccc;
    background: transparent;
    margin: 5% 0 2% 0;
    transform: scale(0);
    color: #ccc;
    transition: all 0.5s linear;
    opacity: 0;
    font-size: 117%;
}

section .home_page .view-tenth p {
    color: #ccc;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
    height: 31px;
    overflow: hidden;
    font-size: 85%;
}

section .home_page .view-tenth a.info {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}

section .home_page .view-tenth:hover img {
    -webkit-transform: scale(10);
    transform: scale(10);
    opacity: 0;
}

section .home_page .view-tenth:hover .mask {
    opacity: 1;
}

section .home_page .view-tenth:hover h2,
section .home_page .view-tenth:hover p,
section .home_page .view-tenth:hover a.info {
    transform: scale(1);
    opacity: 1;
}

section .row_inside {
    margin: 0 -10px;
}

section .bg_slider {
    background: #6473af;
    margin-bottom: 12px;
    height: 183px;
}

section .text_middle {
    position: relative;
    top: 50%;
    margin-top: -114px;
}

section a.btn_more {
    margin: 0 auto;
    display: table;
    background: #ccc;
    padding: 10px 30px;
}

section a.btn_more:hover {
    text-decoration: none;
}

section .btn_button {
    margin: 20px 0 70px 0;
}

section .btn_more>a:hover {
    text-decoration: none;
    color: #445393;
}


/*.about_page*/

section.about_page {
    height: 770px;
    background: url(../img/bg-body.jpg) no-repeat top left;
    background-size: cover;
}

section .content_about {
    margin: 220px 0 0 0;
    background: url(../img/bg-about.png) repeat top left;
    height: 550px;
    border-radius: 7px 7px 0 0;
}

section .content_about .about_menu {
    height: 550px;
    background: #6473af;
    border-radius: 7px 0 0 0;
}

section .about_menu>ul {
    padding: 40px 0;
}

section .about_menu>ul>li {
    border-top: 1px solid #ccc;
    padding: 8px;
}

section .about_menu>ul>li:last-child {
    border-bottom: 1px solid #ccc;
}

section .about_menu>ul>li .glyphicon {
    position: relative;
    top: 5px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    font-size: 7px;
    color: #ccc;
}

section .about_menu>ul>li:hover .glyphicon,
section .about_menu>ul>li.active .glyphicon {
    color: #ff8200;
}

section .about_menu>ul>li a {
    text-decoration: none;
    color: #ccc;
}

section .about_menu>ul>li a:hover {
    text-decoration: none;
}

section .about_menu>ul>li:hover,
section .about_menu>ul>li.active {
    background: #445393;
}

section .content_about .about_content {
    padding: 30px 20px 40px 0;
}

section .about_content>h3 {
    font-size: 134%;
    color: #ff8200;
    border-bottom: 1px solid #ff8200;
    padding: 0 0 5px 0;
    margin: 0 0 20px 0;
}


/*.scollbar
--------------------------------------------*/

.about_content #info {
    color: #555;
    text-align: center;
    margin-bottom: 25px;
}

.about_content a {
    color: #074E8C;
}

.about_content .scrollbar {
    margin-right: 30px;
    float: left;
    height: 420px;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 25px;
    padding-right: 10px;
}

.about_content .force-overflow {
    min-height: 450px;
}

.about_content #wrapper {
    text-align: center;
    width: 500px;
    margin: auto;
}


/*
 *  STYLE 4
 */

#style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 20px;
}

#style-4::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb {
    background-color: #445393;
    border: 2px solid #6473af;
    border-radius: 20px;
}

.footer_about {
    height: 60px;
    background: url(../img/footer-about.jpg) repeat top left;
}


/*------------------------------------------
.shopping
-----------------------------------------*/

.shopping_page {
    background: url(../img/bg-body_shopping.jpg) no-repeat top left;
    background-size: cover;
}

.shopping_page .slider_shopping {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    margin: 220px 0 0 0;
    border-radius: 7px 7px 0 0;
}

.shopping_page .content_shopping {
    margin: 0;
    background: url(../img/bg-about.png) repeat top left;
    height: auto;
    padding: 50px;
}

.shopping_page .viewContent {
    float: left;
    border: 1px solid #aaa;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #999;
    cursor: default;
    margin: 0 0 50px 0;
    /* background: #fff url(http://placeimg.com/300/200/nature) no-repeat center center; */
}


/*header shopping*/

.shopping_page .carousel-control.left {
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .5) 0), color-stop(rgba(0, 0, 0, .0001) 100%));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
    background-repeat: repeat-x;
    border-radius: 150px 0 0 150px;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.shopping_page .carousel-inner>.item>img,
.shopping_page .carousel-inner>.item>a>img {
    line-height: 1;
    border-radius: 150px;
}

.shopping_page .carousel-control.right {
    left: auto;
    right: 0;
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .0001) 0), color-stop(rgba(0, 0, 0, .5) 100%));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
    background-repeat: repeat-x;
    border-radius: 0 150px 150px 0;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.shopping_page .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 150px;
}

.shopping_page .viewContent .mask,
.shopping_page .viewContent .content {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.shopping_page .viewContent img {
    display: block;
    position: relative;
}

.shopping_page .viewContent h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}

.shopping_page .viewContent p {
    font-family: Georgia, serif;
    font-size: 12px;
    font-style: italic;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.shopping_page .viewContent a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
}

.shopping_page .viewContent a.info:hover {
    box-shadow: 0 0 5px #000;
}


/* Example 10 */

.shopping_page .view-tenth img {
    transform: scaleY(1);
    transitioon: all 0.7s ease-in-out;
}

.shopping_page .view-tenth .mask {
    background-color: rgba(255, 231, 179, 0.3);
    transition: all 0.5s linear;
    opacity: 0;
    height: 100%;
}

.shopping_page .text_img {
    background: #000;
    padding: 5px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #ccc;
}

.shopping_page .view-tenth:hover .text_img {
    display: none;
}

.shopping_page .view-tenth h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 5px 20px;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
}

.shopping_page .view-tenth p {
    color: #333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
    height: 60px;
    overflow: hidden;
    margin: 0 0 15px 0;
}

.shopping_page .view-tenth a.info {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}

.shopping_page .view-tenth:hover img {
    transform: scale(10);
    opacity: 0;
}

.shopping_page .view-tenth:hover .mask {
    opacity: 1;
}

.shopping_page .view-tenth:hover h2,
.shopping_page .view-tenth:hover p,
.shopping_page .view-tenth:hover a.info {
    transform: scale(1);
    opacity: 1;
}

.shopping_page .pagination {
    display: table;
    padding-left: 0;
    margin: 0;
    border-radius: 4px;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

.shopping_page .pagination>li>a,
.shopping_page .pagination>li>span {
    margin-left: 0;
    border-radius: 100%;
    border: none;
    margin: 0 2px;
}

.shopping_page .pagination>li.active>a,
.shopping_page .pagination>li.active>span,
.shopping_page .pagination>li:hover>a,
.shopping_page .pagination>li:hover>span,
.shopping_page .pagination>li.focus>a,
.shopping_page .pagination>li.focus>span {
    background: #ff8200;
    color: #fff;
}

.shopping_page .pagination>li:first-child>a,
.shopping_page .pagination>li:first-child>span,
.shopping_page .pagination>li:last-child>a,
.shopping_page .pagination>li:last-child>span {
    background: transparent;
}

.shopping_page .pagination>li:first-child>a:hover,
.shopping_page .pagination>li:first-child>span:hover,
.shopping_page .pagination>li:last-child>a:hover,
.shopping_page .pagination>li:last-child>span:hover {
    color: #ff8200;
}


/*.box_search*/

.slider_shopping .carousel-control .glyphicon-chevron-left,
.slider_shopping .carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.slider_shopping .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 18px;
}

.slider_shopping .carousel-indicators {
    bottom: 12px;
}

.slider_shopping .carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #074E8C;
}

.slider_shopping .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #074E8C;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
}

.shopping_page #search5back {
    margin: 0 auto;
}

.shopping_page #searchbox5 {
    width: 30%;
    margin: 0 auto;
    padding: 0;
}

.shopping_page #search5 {
    position: relative;
    top: -3px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAACXBIW…cpMP5ycnzwy2Lq3uTEi4fbhmsCqlyeSCUXhj3PswF+DQCd6slMgae9lQAAAABJRU5ErkJggg==) no-repeat 10px 6px #444;
    border: 1px solid #999;
    color: #777;
    width: 100%;
    padding: 6px 15px 6px 35px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
}

.shopping_page #search5:focus {
    width: 200px;
    outline: 0;
}

.shopping_page .byline p {
    text-align: center;
    color: #c6c6c6;
    font: bold 18px Arial, Helvetica, Sans-serif;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.shopping_page .byline p a {
    color: #000;
    text-decoration: none;
}

.shopping_page .card {
    text-align: right;
    display: table;
    float: right;
}

.shopping_page .card:hover {
    background: #ff8200;
    border-radius: 100%;
}


/*.menu*/

.shopping_page .navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin: 50px 0 0 0;
}

.shopping_page .navbar-nav>li>a {
    padding: 7px 30px;
    border-radius: 15px;
    background: #90797E;
    margin: 0 5px;
    color: #f9f9f9;
}

.shopping_page .navbar-nav>li>a:hover,
.shopping_page .navbar-nav>li.active a {
    color: #f9f9f9;
    background: #999;
}

.shopping_page .navbar-nav>li:nth-child(2)>a {
    background: #568FA6;
}

.shopping_page .navbar-nav>li:nth-child(2)>a:hover,
.shopping_page .navbar-nav>li:nth-child(2).active {
    background: #80abbc;
}

.shopping_page .navbar-nav>li>.dropdown-menu {
    background: transparent;
}


/***3***/

.shopping_page .navbar-nav>li:nth-child(3) .dropdown-menu>li>a {
    padding: 7px 30px;
    border-radius: 15px;
    background: #cc6633;
    margin: 0 5px;
    margin-bottom: 5px;
    color: #f9f9f9;
}

.shopping_page .navbar-nav>li:nth-child(3) .dropdown-menu>li>a:hover {
    color: #fff;
}

.shopping_page .navbar-nav>li:nth-child(3)>a:hover,
.shopping_page .navbar-nav>li:nth-child(3)>a:focus,
.shopping_page .navbar-nav>li:nth-child(3).active {
    background: #d98c66;
}


/****4****/

.shopping_page .navbar-nav>li:nth-child(4)>a {
    background: #D0B5BA;
}

.shopping_page .navbar-nav>li:nth-child(4) .dropdown-menu>li>a {
    padding: 7px 30px;
    border-radius: 15px;
    background: #D0B5BA;
    margin: 0 5px;
    margin-bottom: 5px;
    color: #f9f9f9;
}

.shopping_page .navbar-nav>li:nth-child(4) .dropdown-menu>li>a:hover {
    color: #074E8C;
}

.shopping_page .navbar-nav>li:nth-child(4)>a:hover,
.shopping_page .navbar-nav>li:nth-child(4)>a:focus,
.shopping_page .navbar-nav>li:nth-child(4).active {
    background: #8c837b;
}


/****5*****/

.shopping_page .navbar-nav>li:nth-child(5)>a {
    background: #bfb79f;
}

.shopping_page .navbar-nav>li:nth-child(5) .dropdown-menu>li>a {
    padding: 7px 30px;
    border-radius: 15px;
    background: #bfb79f;
    margin: 0 5px;
    margin-bottom: 5px;
    color: #f9f9f9;
}

.shopping_page .navbar-nav>li:nth-child(5) .dropdown-menu>li>a:hover {
    color: #333;
}

.shopping_page .navbar-nav>li:nth-child(5)>a:hover,
.shopping_page .navbar-nav>li:nth-child(5)>a:focus,
.shopping_page .navbar-nav>li:nth-child(5).active {
    background: #a9a29c;
}


/*******6********/

.shopping_page .navbar-nav>li:nth-child(6)>a {
    background: #568FA6;
}

.shopping_page .navbar-nav>li:nth-child(6) .dropdown-menu>li>a {
    padding: 7px 30px;
    border-radius: 15px;
    background: #568FA6;
    margin: 0 5px;
    margin-bottom: 5px;
    color: #f9f9f9;
}

.shopping_page .navbar-nav>li:nth-child(6) .dropdown-menu>li>a:hover {
    color: #333;
}

.shopping_page .navbar-nav>li:nth-child(6)>a:hover,
.shopping_page .navbar-nav>li:nth-child(6)>a:focus,
.shopping_page .navbar-nav>li:nth-child(6).active {
    background: #80abbc;
}

.shopping_page .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
}


/*------------------------------------------------------------
.contact_page
--------------------------------------------------------------*/

.contact_page .content_contact {
    margin: 178px 0 0 0;
    background: url(../img/bg-about.png) repeat top left;
    height: auto;
    padding: 50px;
    min-height: 300px;
}

.contact_page .content_contact>p {
    font-size: 100%;
    line-height: 1.6;
}

.contact_page .content_contact>h2 {
    text-align: center;
    color: #d9634f;
    padding-bottom: .5em;
    display: block;
    border-bottom: 2px solid #d9634f;
    font-size: 150%;
    margin: 15px 40px 40px 40px;
}

.contact_page .content_contact p.subtitle {
    padding: 15px 30px 15px 30px;
    /*background: #f1f1f1;*/
    /* border: 1px solid #ccc; */
    color: #999999;
    font-style: italic;
    margin-bottom: 60px;
    /* font-size: 15px; */
    /* line-height: 150%; */
}

.contact_page .content_contact>p:first-of-type,
.contact_page .content_contact>p:nth-of-type(2) {
    text-align: left;
}

.contact_page .content_contact>a {
    color: #ccc;
    text-decoration: none;
}

.contact_page .content_contact>a:hover,
.contact_page .content_contact>a:active,
.contact_page .content_contact>a:focus {
    border-bottom: 1px solid #ccc;
}

.contact_page .map {
    background: #ff8200;
    margin: 30px 0 0 0;
}

.contact_page .map_contact {
    margin: 1px -14px -4px 0;
}

.contact_page .content_map {
    padding: 30px 0;
}

.contact_page .ico_map {
    display: table;
    margin: 0 auto;
}

.contact_page .content_map .list_icon {
    overflow: hidden !important;
}

.contact_page .list_icon li {
    float: left !important;
    margin: 0 5px !important;
}

.contact_page .list_icon li a img:hover {
    background: #ff8200
}


/*-------------------------------------------
news
---------------------------------------------*/

.news .what_news {
    background: url(../img/bg_title.jpg) repeat-x top left;
    position: relative;
    z-index: 2;
    margin: 133px 0 0 0;
    border-top: 3px solid #f40824;
    border-radius: 0 0 20px 20px;
}

.news .what_news>h1 {
    color: #fff;
    font-family: 'sansationbold';
    padding: 30px 0px;
    font-weight: bold;
    font-size: 250%;
    text-align: center;
}

.news .menu_04 {
    display: block;
    margin: 0 auto;
    margin: 0px 0 40px 0;
    background: #000;
    position: relative;
    z-index: 100;
    border-radius: 0 0 20px 20px;
}

.news .menu_04 ul {
    overflow: hidden;
    display: table;
    margin: 0 auto;
    background: #000;
}

.news .menu_04 ul>li {
    float: left;
    padding: 10px 25px;
}

.news .menu_04 ul>li>a {
    color: #fff;
    font-weight: bold;
}

.news .menu_04 ul>li>a:hover,
.news .menu_04 ul>li>a.active {
    color: #ff8200;
    text-decoration: none;
}

.shopping_page .text_img {
    background: #445393;
    padding: 5px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #ccc;
}


/*  .responsive
----------------------------------------*/

@media screen and (max-width: 991px) {
    article .what_news {
        background: url(../img/bg_title.jpg) repeat-x top left;
        position: relative;
        z-index: 2;
        margin: 0 -15px;
        border-top: 3px solid #f40824;
    }
    article .menu_04 {
        display: block;
        margin: 0 auto;
        margin: 0 -15px 30px;
        background: #000;
    }
}

@media screen and (max-width: 767px) {}