@charset "utf-8";

/*---------------------------------------
    リセットCSS（編集不要）
----------------------------------------*/

html {
    overflow-y: scroll;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th {
    text-align: left;
}

q:before,
q:after {
    content: '';
}

object,
embed {
    vertical-align: top;
}

hr,
legend {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

img,
abbr,
acronym,
fieldset {
    border: 0;
}

ul li {
    list-style-type: none;
}

a,
label {
    cursor: pointer;
}

img {
    vertical-align: bottom;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*-----------------------------------------
.header
------------------------------------------*/

header {
    position: absolute;
    width: 100%;
    margin-bottom: 20px;
    z-index: 5;
    height: auto !important;
}

header .bg_menu_01 {
    background: url(../img/bg-top.jpg) no-repeat top left;
    border-top: 15px solid #000;
}

header .menu_01 {
    height: 36px;
}

header .list_menu_01>li {
    float: left;
    display: block;
}

header .list_menu_01>li+li {
    background: #000;
}

header .list_menu_01>li+li>a {
    color: #23aee1;
}

header .list_menu_01>li>a {
    color: #fff;
    line-height: 36px;
    padding: 0 30px;
}

header .list_menu_01>li>a:hover {
    text-decoration: none;
    color: #ff8200;
}

.carousel-indicators {
    bottom: 50px;
}

header .menu_03 ul {
    margin-left: 7px;
}

header .menu_03 ul>li {
    float: left;
    /* width: 150px; */
    /* height: 100px; */
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    background: red;
    padding: 4px 25px;
}

header .menu_03 ul>li:hover,
header .menu_03 ul>li:active,
header .menu_03 ul>li:focus,
header .menu_03 ul>li.active {
    background: #505050 !important;
}

header .menu_03 ul>li.bg_01 {
    background: #a00000;
    border-radius: 0 0 10px 0;
    margin-left: -8px;
    position: relative;
    z-index: 9;
}

header .menu_03 ul>li.bg_02 {
    background: #9e701d;
    border-radius: 0 0 10px 0;
    margin-left: -8px;
    position: relative;
    z-index: 8;
}

header .menu_03 ul>li.bg_03 {
    background: #25427e;
    border-radius: 0 0 10px 0;
    margin-left: -8px;
    position: relative;
    z-index: 7;
}

header .menu_03 ul>li.bg_04 {
    background: #ff8300;
    border-radius: 0 0 10px 0;
    margin-left: -8px;
    position: relative;
    z-index: 6;
}

header .menu_03 ul>li>a {
    color: #fff;
}

header .menu_03 ul>li>a:hover {
    text-decoration: none;
}

header .logo {
    width: 0;
    height: 0;
    border-top: 89px solid #000;
    border-right: 53px solid transparent;
    position: relative;
    left: 224px;
    z-index: 10;
}

header .bg_logo {
    background: #000;
}

header #triangle-topleft {
    width: 100%;
    height: 82px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    background: #000;
    margin: 0px -75px;
    float: right;
    border-radius: 0 0 15px 0;
    position: relative;
    z-index: 10
}

header .bg_logo a img {
    position: absolute;
    z-index: 100;
    left: 50%;
    margin-left: -53px;
    top: 50%;
    margin-top: -32px;
}


/*----------------------------------------
    .nav
----------------------------------------*/

header .navbar-default {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    margin: 0 -15px 0 0;
    padding: 15px 0 15px 15px;
}

header .navbar-default .navbar-nav>li>a {
    color: #f9f9f9;
    padding: 5px 25px;
    margin: 10px;
    border-radius: 38px;
    border: 1px solid #bbb;
}

header .navbar-default .navbar-nav>.active>a,
header .navbar-default .navbar-nav>.active>a:hover,
header.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #000;
}

header .navbar-default .navbar-nav>li>a:hover,
header.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #000;
}


/*----------------------------------------
    footer
----------------------------------------*/

footer {
    background: #505050;
    border-bottom: 15px solid #000;
}

footer .title_01 {
    padding: 30px 0 30px 20px;
}

footer .list_01 {
    padding-top: 60px;
    color: #ccc;
}

footer .border_left {
    border-left: 1px dashed #aaa
}

footer .margin {
    padding-top: 0;
}

footer .border_left input {
    background: transparent;
    border: 1px solid #ff8200;
    width: 100%;
}

footer .title_01>dt {
    color: #ff8200;
    margin-bottom: 10px;
}

footer .title_01>dd {
    color: #ccc;
}


/*.responsive*/

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {
    header {
        position: inherit;
        width: 100%;
        margin-bottom: 0;
        z-index: 5;
        height: auto !important;
    }
    header .navbar-default .navbar-toggle {
        margin-right: 30px;
    }
    .responsive {
        position: inherit;
        left: 0;
        top: 0;
    }
    .navbar-default {
        background-color: #f8f8f8;
        border-color: #e7e7e7;
        margin: 0 -15px;
    }
    .navbar-default .navbar-toggle {
        border-color: #ddd;
        background: #000;
    }
    .navbar-default .navbar-nav>li>a {
        color: #000;
        padding: 5px 25px;
        margin: 10px;
        border-radius: 38px;
        border: 1px solid #bbb;
        background: #fff;
    }
    .navbar-collapse>.nav {
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 100;
        padding: 10px 20px;
    }
    .menu_smp {
        position: absolute;
        z-index: 100;
        width: 100%;
    }
    .list_menu_03 {
        overflow: hidden;
        float: right;
    }
}